<h1>Activities available</h1>
<%= @activities.first.name %>
<%= @activities.first.description %>
<%= @activities.first.category %>


<img src="https://www.figma.com/file/7DG7qAqbVvurdOFbHJrkPR/Final-Project?node-id=22%3A1004" alt="dog">
